@model HealthAssistApp.Web.ViewModels.Administration.DiseaseSymptomInputViewModel
@{
    ViewData["Title"] = "Create";
    var diseases = Model.diseases.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
    var symptoms = Model.symptoms.Select(x => new SelectListItem(x.Description, x.Id.ToString()));
}
<h1>Create</h1>
<h4>Disease to Symptom</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="DiseaseId"></label>
                <select asp-for="DiseaseId" asp-items="diseases" class="form-control"></select>
                <span asp-validation-for="DiseaseId" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="SymptomId"></label>
                <select asp-for="SymptomId" asp-items="symptoms" class="form-control"></select>
                <span asp-validation-for="SymptomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>