@{
    this.ViewData["Title"] = "Admin dashboard";
}

<h1>@this.ViewData["Title"]</h1>
<p>View, edit and modify Diseases from the following button:</p>
<a class="btn btn-primary" asp-action="Diseases">Diseases</a>
<p>You cann add a new Recipe</p>
<a class="btn btn-primary" asp-action="Recipes">Diseases</a>
