@{
    this.ViewData["Title"] = "Admin dashboard";
}

<h1>@this.ViewData["Title"]</h1>
<hr />
<p>View, edit and modify Diseases:</p>
<a class="btn btn-primary" asp-action="Diseases">Diseases</a>
<hr />
<p>View, edit and modify Recipes:</p>
<a class="btn btn-primary" asp-action="Recipes">Recipes</a>
<hr />
<p>View, edit and modify Exercises:</p>
<a class="btn btn-primary" asp-action="Exercises">Exercises</a>
<hr />
<p>View, edit and modify Symptoms:</p>
<a class="btn btn-primary" asp-action="Symptoms">Symptoms</a>
<hr />
<p>View, edit and modify Body Systems:</p>
<a class="btn btn-primary" asp-action="BodySystems">Body Systems</a>
<hr />
<p>View, edit and modify Disease and their Symptoms:</p>
<a class="btn btn-primary" asp-action="DiseasesSymptoms">Disease Symptoms</a>
