@{
    this.ViewData["Title"] = "Admin dashboard";
}

<h1>@this.ViewData["Title"]</h1>
<hr />
<p>View, edit and modify Diseases from the following button:</p>
<a class="btn btn-primary" asp-action="Diseases">Diseases</a>
<hr />
<p>View, edit and modify Recipes from the following button:</p>
<a class="btn btn-primary" asp-action="Recipes">Recipes</a>
<hr />
<p>View, edit and modify Exercises from the following button:</p>
<a class="btn btn-primary" asp-action="Exercises">Exercises</a>
<hr />
<p>View, edit and modify Body Systems from the following button:</p>
<a class="btn btn-primary" asp-action="BodySystems">Body Systems</a>
<hr />
<p>View, edit and modify Diseases and Symptoms from the following button:</p>
<a class="btn btn-primary" asp-action="DiseasesSymptoms">Disease Symptoms</a>
