@using HealthAssistApp.Data.Models.Enums
@model HealthAssistApp.Web.ViewModels.Diseases.DiseaseInputViewModel
@{
    ViewData["Title"] = "Create";
}
<h1>Create</h1>
<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media"
        ]
    });</script>
<h4>Disease</h4>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div>
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Advice" class="control-label"></label>
        <textarea asp-for="Advice" class="form-control"></textarea>
        <span asp-validation-for="Advice" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="GlycemicIndex" class="control-label"></label>
        <select asp-for="GlycemicIndex" asp-items="Html.GetEnumSelectList<GlycemicIndex>()">
            <option selected="selected" value="">Please select</option>
        </select>
        <span asp-validation-for="GlycemicIndex" class="text-danger"></span>
    </div>

    <div>
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>