@using HealthAssistApp.Common
@model HealthAssistApp.Web.ViewModels.Administration.AdminitrationTextFilesViewModels.AdminTextFilesDetailsViewModels
@{
    this.ViewData["Title"] = Model.Name;
}

<div class="text-center ">
    <h1 class="display-3">@this.ViewData["Title"]</h1>
</div>
<p>
    @Html.Raw(Model.SanitizedContent)
</p>