@using HealthAssistApp.Data.Models.Enums
@model HealthAssistApp.Web.ViewModels.Administration.RecipesViewModels.RecipesAdminModifyViewModel
@{
    ViewData["Title"] = "Edit";
}
<h1>Edit</h1>
<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstructionForPreparation" class="control-label"></label>
                <input asp-for="InstructionForPreparation" class="form-control" />
                <span asp-validation-for="InstructionForPreparation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vegan" class="control-label"></label>
                <input asp-for="Vegan" class="form-control" />
                <span asp-validation-for="Vegan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vegetarian" class="control-label"></label>
                <input asp-for="Vegetarian" class="form-control" />
                <span asp-validation-for="Vegetarian" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartOfMeal" class="control-label"></label>
                <select asp-for="PartOfMeal" asp-items="Html.GetEnumSelectList<PartOfMeal>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="GlycemicIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GlycemicIndex" class="control-label"></label>
                <select asp-for="GlycemicIndex" asp-items="Html.GetEnumSelectList<GlycemicIndex>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="GlycemicIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calories" class="control-label"></label>
                <input asp-for="Calories" class="form-control" />
                <span asp-validation-for="Calories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>