@using HealthAssistApp.Common
@model HealthAssistApp.Web.ViewModels.Systems.SystemsWithSymptomsQuestionnaire
@{
    this.ViewData["Title"] = @Model.Name;
}

<div class="text-center ">
    <h1 class="display-3">@this.ViewData["Title"]</h1>
</div>
<div class="text-left ">
    <p>Please check if you feel any of the following symptoms:</p>
    <form asp-action="AllergiesInput" method="post">
        <ul>
            @foreach (var symptom in Model.Symptoms)
            {
                <li>@symptom.Description <input asp-for=@symptom.Selected type="checkbox" /></li>
            }
        </ul>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
