@using HealthAssistApp.Common
@model HealthAssistApp.Web.ViewModels.Systems.SystemsWithSymptomsQuestionnaire
@{
    this.ViewData["Title"] = @Model.Name;
}

<div class="text-center ">
    <h1 class="display-3">@this.ViewData["Title"]</h1>
</div>
    @foreach (var symptoms in Model.Symptoms)
    {
    <li class="list-group-item">@symptoms.Description</li>
    }