@using HealthAssistApp.Common
@model HealthAssistApp.Web.ViewModels.Systems.SystemsWithSymptomsQuestionnaire
@{
    this.ViewData["Title"] = @Model.Name;
}

<div class="text-center ">
    <h1 class="display-3">@this.ViewData["Title"]</h1>
</div>
<div class="text-left ">
    <p>Please check if you feel any of the following symptoms:</p>
</div>
    @foreach (var symptom in Model.Symptoms)
    {
        <li>
            <label asp-for=@symptom.Description></label>
            <input asp-for=@symptom.Seleced type="checkbox" />
        </li>
    }